<footer class="footer">
  <div class="container footer__grid">
    <div class="footer__col">
      <img class="footer__logo" src="{{rootPrefix}}assets/logos/logo-horizontal.png" alt="Just Beachy Pools" />
      <p class="footer__about">Just Beachy Pools, based in Spring Hill, Florida, offers a comprehensive range of pool maintenance and repair services tailored to meet the unique needs of each client.</p>
      <div class="footer__social">
        <a href="#" aria-label="Facebook" class="social-icon social-icon--orange"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" aria-label="Instagram" class="social-icon social-icon--orange"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" aria-label="LinkedIn" class="social-icon social-icon--orange"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>

    <div class="footer__col">
      <h5>Company</h5>
      <ul>
        <li><a href="{{rootPrefix}}about-us.html">About Us</a></li>
        <li><a href="{{rootPrefix}}about-us.html">Leadership</a></li>
        <li><a href="{{rootPrefix}}index.html#careers">Careers</a></li>
        <li><a href="{{rootPrefix}}index.html#news">Article &amp; News</a></li>
        <li><a href="#">Locations</a></li>
      </ul>
    </div>

    <div class="footer__col">
      <h5>Help</h5>
      <ul>
        <li><a href="mailto:office@justbeachypools.com">Email Us</a></li>
        <li><a href="#">Help &amp; FAQ</a></li>
        <li><a href="{{rootPrefix}}contact-us.html">Service Call</a></li>
        <li><a href="#">Report a Problem</a></li>
        <li><a href="#">Customer Support</a></li>
      </ul>
    </div>

    <div class="footer__col">
      <h5>Connect With Us</h5>
      <ul class="footer__connect">
        <li><span class="footer__circle"><i class="fa-solid fa-location-dot"></i></span> Located in: Spring Hill, FL</li>
        <li><span class="footer__circle"><i class="fa-solid fa-phone"></i></span> <a href="tel:3526784100">(352) 678-4100</a></li>
        <li><span class="footer__circle"><i class="fa-solid fa-envelope"></i></span> <a href="mailto:office@justbeachypools.com">office@justbeachypools.com</a></li>
      </ul>
    </div>
  </div>

  <div class="footer__strip">
    <div class="container footer__strip-inner">
      <span class="footer__strip-left"><i class="fa-solid fa-feather"></i> Pool Service Marketing by <a href="#">Pool Profits</a></span>
      <span>Copyright © 2025 Just Beachy Pools, All rights reserved.</span>
      <span><a href="#">Term of use</a> | <a href="#">Privacy Policy</a> | <a href="#">Cookie Policy</a></span>
    </div>
  </div>
</footer>
