<div class="utility-bar">
  <div class="container utility-bar__inner">
    <div class="utility-bar__contact">
      <a href="tel:3522963583" class="utility-bar__link">
        <span class="utility-bar__icon"><i class="fa-solid fa-phone"></i></span>
        (352) 296-3583
      </a>
      <a href="mailto:office@justbeachypools.com" class="utility-bar__link">
        <span class="utility-bar__icon"><i class="fa-solid fa-envelope"></i></span>
        office@justbeachypools.com
      </a>
    </div>
    <div class="utility-bar__social">
      <a href="#" aria-label="Facebook" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" aria-label="Instagram" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" aria-label="LinkedIn" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
  </div>
</div>
